<% if (error && error.length) { %>
    <div class="alert alert-danger d-flex justify-content-between align-items-center" style="border-radius: 8px;">
        <%= error[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (success && success.length) { %>
    <div class="alert alert-success d-flex justify-content-between align-items-center" style="border-radius: 8px;">
        <%= success[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <%- include('../partials/sidebarUser') %>
        <div class="col-xl-8">
            <div class="card mb-4 border-0 shadow-sm" style="border-radius: 12px;">
                <div class="card-header bg-light text-dark" style="font-weight: 500; font-size: 1.2rem; text-align: center;">
                    รายละเอียดส่วนตัว
                </div>
                <div class="card-body">
                    <h5 class="text-center mb-4" style="font-size: 1.3rem;">กรอกที่อยู่รับของ</h5>
                    <form action="/user/profile-edit/<%= user._id %>" method="POST">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">ชื่อจริง</label>
                                <input class="form-control border-secondary border-opacity-25" id="inputFirstName" name="firstname" type="text" placeholder="ใส่ชื่อจริง...." value="<%= user.firstname %>">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">นามสกุล</label>
                                <input class="form-control border-secondary border-opacity-25" id="inputLastName" name="lastname" type="text" placeholder="ใส่นามสกุล...." value="<%= user.lastname %>">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputAddress">ที่อยู่</label>
                                <textarea class="form-control border-secondary border-opacity-25" id="inputAddress" name="address" placeholder="123/45 หมู่6 ถนนสมมุติ ตำบลสมมุติ" rows="3"><%= user.address %></textarea>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCity">จังหวัด</label>
                                <input class="form-control border-secondary border-opacity-25" id="inputCity" name="city" type="text" placeholder="ใส่อำเภอ...." value="<%= user.city %>">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPostalCode">รหัสไปรษณีย์</label>
                                <input class="form-control border-secondary border-opacity-25" id="inputPostalCode" name="postalCode" type="text" placeholder="ใส่รหัสไปรษณีย์...." value="<%= user.postalCode %>">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">เบอร์โทรศัพท์</label>
                                <input class="form-control border-secondary border-opacity-25" id="inputPhone" name="phone" type="tel" placeholder="000-0000000" value="<%= user.phone %>">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <div class="text-center">
                            <button class="btn btn-dark" style="width: 100%; border-radius: 8px;" type="submit">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>