<% if (error && error.length) { %>
    <div class="alert alert-danger d-flex justify-content-between align-items-center">
        <%= error[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (success && success.length) { %>
    <div class="alert alert-success d-flex justify-content-between align-items-center">
        <%= success[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">รายละเอียดโปรไฟล์</div>
                <div class="card-body text-center">
                    <i class="fa-solid fa-circle-user" style="color: #000000; font-size: 6em;"></i>
                    <p>ยินดีต้อนรับ, คุณ<%= user.username %></p>
                    <a href="/order/history" class="btn btn-primary mt-3">ดูประวัติการสั่งซื้อ</a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">รายละเอียดส่วนตัว</div>
                <div class="card-body">
                    <% if (addresses.length === 0) { %>
                        <!-- ไม่มีที่อยู่ -->
                        <a href="/user/profile-edit/<%= user._id %>" class="btn btn-primary">เพิ่มที่อยู่</a>
                    <% } else { %>
                        <!-- มีที่อยู่ -->
                        <ul class="list-group mb-3">
                            <% addresses.forEach(function(address) { %>
                                <li class="list-group-item">
                                    <strong>ชื่อ:</strong> <%= address.firstname %> <%= address.lastname %><br>
                                    <strong>ที่อยู่:</strong> <%= address.address %>, <%= address.city %>, <%= address.postalCode %><br>
                                    <strong>เบอร์โทร:</strong> <%= address.phone %><br>
                                </li>
                            <% }); %>
                        </ul>
                        <a href="/user/profile-edit/<%= user._id %>" class="btn btn-primary">แก้ไขที่อยู่</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
