<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amber Grape Farm</title>
    
    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins&display=swap" rel="stylesheet">
    <!-- Font Awesome (ICON) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<%- include('../partials/navbar')%>

<div class="container bg-white rounded-top mt-5" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12 pt-3">
            <% if (error && error.length) { %>
                <div class="alert alert-danger">
                    <%= error[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <% if (success && success.length) { %>
                <div class="alert alert-success">
                    <%= success[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">สินค้า</th>
                            <th scope="col">ราคา</th>
                            <th scope="col">ไซส์/ขนาด</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">ราคารวม</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (cart && cart.items.length > 0) { %>
                            <% cart.items.forEach(item => { %>                     
                        <tr>
                            <td>
                                <div class="d-flex flex-row align-items-center">
                                    <img src="<%= item.product.images[0] %>" class="rounded-circle me-2" style="width: 45px; height: 45px;">
                                    <div class="d-flex flex-column pl-md-3 pl-1">
                                        <h8><%= item.product.productName %></h8>
                                        <div><span class="text-small text-muted"><%= item.product.category.categoryName %></span></div>
                                    </div>
                                </div>
                            </td>
                            <td id="price-<%= item.product._id %>-<%= item.size %>">฿ <%= item.price %></td>
                            <td><%= item.size %></td>
                            <td>
                                <span class="fa fa-minus-square text-secondary" data-product-id="<%= item.product._id %>" data-size="<%= item.size %>"></span>
                                <span class="px-md-3 px-1" id="quantity-<%= item.product._id %>-<%= item.size %>"><%= item.quantity %></span>
                                <span class="fa fa-plus-square text-secondary" data-product-id="<%= item.product._id %>" data-size="<%= item.size %>" data-max-quantity="<%= item.product.stockQuantity %>"></span>
                            </td>
                            <td id="subTotal-<%= item.product._id %>-<%= item.size %>">฿ <%= (item.price * item.quantity).toLocaleString() %></td>
                            <td>                            
                                <form action="/cart/remove-from-cart/<%= item.product._id %>?size=<%= item.size %>" method="POST" style="display:inline;">
                                    <button type="submit" class="close" style="background:none; border:none;">&times;</button>
                                </form>
                            </td>
                        </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="6" class="text-center">ไม่มีสินค้าในตะกร้า</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-sm bg-light border border-dark">GO BACK</button>
                <div id="footer-font">
                    <b class="pl-md-4">ราคารวม <span id="totalPriceFooter">฿ <%= cart.totalPrice.toLocaleString() %></span></b>
                </div>
                <form action="/order" method="POST"> 
                    <input type="hidden" name="cart" id="cartData">
                    <button type="submit" class="btn btn-sm bg-dark text-white px-lg-5 px-3">CHECKOUT</button>
                </form>                
                
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const updateCart = async (productId, size, quantity, maxQuantity) => {
            if (quantity < 1 || quantity > maxQuantity) return;
    
            const response = await fetch('/cart/update-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId, size, quantity })
            });
            const data = await response.json();
            if (response.ok) {
                document.getElementById(`quantity-${productId}-${size}`).innerText = quantity;
                document.getElementById(`subTotal-${productId}-${size}`).innerText = `฿ ${data.subTotal.toLocaleString()}`;
                document.getElementById('totalPriceFooter').innerText = `฿ ${data.total.toLocaleString()}`;
            } else {
                console.error(data.error);
            }
        };
    
        document.querySelectorAll('.fa-plus-square').forEach(element => {
            element.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                const size = this.getAttribute('data-size');
                const maxQuantity = parseInt(this.getAttribute('data-max-quantity'));
                const quantityElement = document.getElementById(`quantity-${productId}-${size}`);
                const quantity = parseInt(quantityElement.innerText) + 1;
                updateCart(productId, size, quantity, maxQuantity);
            });
        });
    
        document.querySelectorAll('.fa-minus-square').forEach(element => {
            element.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                const size = this.getAttribute('data-size');
                const quantityElement = document.getElementById(`quantity-${productId}-${size}`);
                const quantity = parseInt(quantityElement.innerText) - 1;
                updateCart(productId, size, quantity);
            });
        });
    });
    </script>
    
</body>
</html>
